<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b490">  <td>17/10/15 14:46:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Master.startTheBrowserAndGetThePage()[pri:1, instance:automationFramework.Master@5034c75a]">startTheBrowserAndGetThePage</td> 
  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>17/10/15 14:46:34</td>   <td>9293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Master.testTheLoginPage()[pri:2, instance:automationFramework.Master@5034c75a]">testTheLoginPage</td> 
  <td>main@1620303253</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>17/10/15 14:46:34</td>   <td>9563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Master.testTheImgInTap5()[pri:3, instance:automationFramework.Master@5034c75a]">testTheImgInTap5</td> 
  <td>main@1620303253</td>   <td></td> </tr>
</table>
